@model FileUpLoad
@{
    Layout = null;
}
<style>
    table.progressTable {
        font-family: sans-serif, Helvetica;
        border-collapse: collapse;
        font-style: normal;
        border: 1px;
        width: 100%;
        margin-top: 10px;
    }

        table.progressTable td {
            height: 15px !important;
            border-collapse: collapse;
            border: 1px solid #ddd;
            color: #555;
            /*border-top: 0px;*/
            padding: 2px 1px;
            font-family: sans-serif, Helvetica;
            font-size: 11px;
            line-height: normal;
            text-align: left;
            vertical-align: middle;
        }

        table.progressTable tfoot td {
            font-family: sans-serif, Helvetica;
            color: #000000;
            border: 1px solid #ddd;
            padding: 1px;
            text-align: left;
            vertical-align: top;
            font-size: 11px;
        }

        table.progressTable tfoot th {
            font-weight: bold;
            color: #000000;
            border: 1px solid #ddd;
            padding: 3px;
            text-align: right;
            vertical-align: top;
            font-size: 11px;
        }

    .upload-progress-bar {
        width: 31%;
    }

    .status-icon {
        width: 5%;
    }

    .total-progress {
        text-align: right;
        font-weight: bold;
        background-color: chartreuse;
        margin: 1px;
        height: 20px
    }
</style>


<div id='divUploadControl' data-upload='@Model.JSONSTRING' data-url="@Url.Action("UploadFile", "api/ManageApi", new { area = DBNull.Value })" >
    <span id="spnMensajeUpload"></span>
    <div class="row">
        <div class="col-md-4">
            <label class="btn btn-success fileinput-button">
                <i class="icon-plus4"></i>
                <span>Cargar Logo</span>
                <input type='file' id='filesToUploadCtrl' name='filesToUploadInput[]' style="display:none;" class='form-control-file' @Model.GetRequired() @Model.GetTipoArchivo() @Model.GetMultiple() />
            </label>
        </div>
        <div class="col-md-4" id="divUploadLoad" style="display:none;">
            <button type="button" id="btnUploadLoad" class="btn btn-primary start">
                <i class="icon-cloud-upload3"></i>
                <span>Carga</span>
            </button>
        </div>
        <div class="col-md-4" id="divUploadCancel" style="display:none;">
            <button type="button" id="btnUploadCancel" class="btn btn-danger delete">
                <i class="icon-trash4"></i>
                <span>Limpia</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center">
            <table id="progressTable" class="progressTable"></table>
        </div>
    </div>
</div>


<script type="text/javascript">
        var totalProgress = 0.0;
        var totalSize = 0.0;
        var filesToUpload = [];
        var output = [];
        $(document).ready(function () {


            $("#filesToUploadCtrl").change(function () {
                var input = document.getElementById('filesToUploadCtrl');
                if (input.files.length == 0) {
                    //pResetControlUpload();
                    return;
                }
                //$("#btnClear").trigger("click");
                $("#divUploadLoad").show();
                $("#divUploadCancel").show();

                var multiple = $(input).attr('multiple');
                if (multiple == null || multiple == undefined) {
                    totalProgress = 0.0;
                    totalSize = 0.0;
                    filesToUpload = [];
                    output = [];
                    $("#progressTable").empty();
                }

                //$("#btnClear").show();
                //$("#divPropiedaArchivo").show();
                //$("#divProgresoArchivo").show();

                //filesToUpload = [];

                for (var x = 0; x < input.files.length; x++) {
                    var fileId = input.files[x].name;
                    var tr = $('table#progressTable tr#' + fileId.replace(".", "XXX"));
                    if ($(tr).get(0) != null || $(tr).get(0) != undefined ) {
                        msgAdvertencia('Archivo ya existe', 'pMensajeUpload');
                        return;
                    }
                }


                var outputlocal = [];
                //totalProgress = 0;

                var tbody = $("#progressTable").find('tbody');
                if (tbody == null || tbody == undefined || tbody.length == 0) {
                    tbody = $('<tbody>').appendTo("#progressTable");
                }

                for (var x = 0; x < input.files.length; x++) {

                    var file = input.files[x];
                    var fileId = input.files[x].name;
                    var size = input.files[x].size;
                    filesToUpload.push({
                        id: fileId,
                        file: file,
                        size: size
                    });
                    var html =
                        '<tr id="' + fileId.replace(".", "XXX") + '" class="border-bottom-success" >' +
                        '<td>' + input.files[x].name + '</td>' +
                        '<td style="width:18%">' + humanFileSize(input.files[x].size, false) + '</td>' +
                        '<td class="upload-progress-bar"><div class="file-progress" id=' + input.files[x].name + ' data-total-parts="0" data-id="' + input.files[x].name +
                        '" data-current-part="0" style="background-color: chartreuse;margin: 2px;  width: 0%;height: 20px"></div></td>' +
                        '<td class="status-icon" data-id="' + input.files[x].name + '" ><a title="Eliminar archivo" class="btn btn-danger removeFile" href="#" data-fileid="' + input.files[x].name +
                        '"><i class="icon-trash4"></i></a></td>' +
                        '</tr>';
                    output.push(html);
                    outputlocal.push(html);
                }

                $("#progressTable tbody").append(outputlocal.join(""));

                var foot = $("#progressTable").find('tfoot');
                if (foot == null || foot == undefined || foot.length == 0) {
                    foot = $('<tfoot>').appendTo("#progressTable");
                    foot.append($('<tr><td colspan="4" ><div id="total-progress" class="total-progress" data-total-parts="0" style="width: 0%;"></div></td></tr>'));
                    foot.append($('<tr><td colspan="1" >N° de archivos</td><th colspan="3" id="files-count" ></th></tr>'));
                    foot.append($('<tr><td colspan="1" >Peso total</td><th colspan="3" id="uploaded-size" ></th></tr>'));
                }

                var fileIdCounter = $('#progressTable >tbody >tr').length;
                $("#files-count").html(fileIdCounter);
                $("#uploaded-size").html(humanFileSize(GetTotalSize(), false));

            });

            function GetTotalSize() {
                totalSize = 0;
                $.each(filesToUpload, function (index, item) {
                    totalSize = totalSize + item.size;
                });
                return totalSize;
            }

            $('#btnUploadLoad').click(function (e) {
                e.preventDefault();
                $("#total-progress").css("padding", "2px 4px");
                var accept = '__123456';
                var upload = toJson($('#divUploadControl').data('upload'));
                if (upload.IsJson == true) {
                    if (upload.Json.accept != null) { accept = upload.Json.accept.toUpperCase(); }
                }
                for (var x = 0; x < filesToUpload.length; x++) {
                    //UploadFile(filesToUpload[x].file);
                    var ext = getExtencion(filesToUpload[x].file.name).toUpperCase();
                    if (accept.indexOf(ext) !== -1) {
                        UploadFile(filesToUpload[x].file);
                    } else {
                        msgAdvertencia('Formato del archivo adjunto No valido', 'pMensajeUpload');
                    }
                }
                $("#divUploadLoad").hide();
                $("#divUploadCancel").hide();
                //$("#btnClear").hide();
            }
            );


            function getExtencion(filename) {
                var a = filename.split('.');
                if (a.length === 1 || (a[0] === "" && a.length === 2)) {
                    return "";
                }
                return a.pop();
            }

            $(this).on("click", ".removeFile",
                function (e) {
                    e.preventDefault();
                    var fileId = $(this).data("fileid");
                    for (var i = 0; i < filesToUpload.length; ++i) {
                        if (filesToUpload[i].id === fileId)
                            filesToUpload.splice(i, 1);
                    }
                    $(this).parent().parent().remove();

                    var fileIdCounter = $('#progressTable >tbody >tr').length;
                    $("#files-count").html(fileIdCounter);
                    $("#uploaded-size").html(humanFileSize(GetTotalSize(), false));
                });
            $(this).on("click", "#divUploadCancel",
                function (e) {
                    e.preventDefault();
                    pResetControlUpload();
                    //$("#btnClear").hide();
                    //$("#divPropiedaArchivo").hide();
                    //$("#divProgresoArchivo").hide();
                });




        });


        function pResetControlUpload() {
            filesToUpload = [];
            output = [];
            $("#filesToUploadCtrl").empty();
            //$("#filesToUploadCtrl").val('');;
            $("#progressTable").empty();
            $("#files-count").html("0");
            $("#uploaded-size").html("");
            $("#total-progress").css("width", 0 + "%");
            $("#total-progress").css("padding", "0px");
            $("#total-progress").html("");
            totalProgress = 0;
            totalSize = 0;
            $("#divUploadLoad").hide();
            $("#divUploadCancel").hide();
        }

        //var g = 1;
        function UploadFileChunk(Chunk, FilePartName, fileName) {
            var FD = new FormData();
            FD.append('file', Chunk, FilePartName);
            var dataUpload = JSON.stringify($('#divUploadControl').data('upload'));
            FD.append('JSONSTRING', dataUpload);
            FD.append('TIPOARCHIVODOCUMENTO', '@Model.TIPOARCHIVODOCUMENTO');
            FD.append('ENVIARA', '@Model.ENVIARA');
           

            $.ajax({
                url: $('#divUploadControl').data('url'),
                type: "POST",
                //dataType: "json",
                //contentType: "application/json;chartset=utf-8",
                contentType: false,
                processData: false,
                cache: false,
                data: FD,
                success: function (r) {
                    if (r.success == true) {
                        MostrarMensaje(r.Message, 'pMensajeUpload');
                    }
                }
            }).done(function (result) {

                var stringLingth = FilePartName.length;
                //g = g + 1;
                var indexOflastPart = FilePartName.lastIndexOf(".part_");
                var lastPart = FilePartName.substr(indexOflastPart, stringLingth - indexOflastPart);
                var parts = lastPart.split('_');
                var chuncksCount = parts[1].split('.');
                var chunkNumber = chuncksCount[0];
                var chunksTotal = chuncksCount[1];
                totalProgress = totalProgress + Chunk.size;
                $("#uploaded-size").html(humanFileSize(totalProgress, false));
                //console.log("Total Progress : "+totalProgress);
                var totalProgressRatio = ((totalProgress / totalSize) * 100);
                $("#total-progress").css("width", totalProgressRatio + "%");
                $("#total-progress").html(totalProgressRatio.toFixed(2) + "%");

                $(".file-progress").each(function () {
                    var elemnt = $(this);
                    var name = elemnt.data("id");
                    if (name == fileName) {

                        var currentProgress = elemnt.data("current-part");
                        var actualProgress = currentProgress + 1;
                        elemnt.data("current-part", actualProgress);
                        var currentProgressBar = ((actualProgress / chunksTotal) * 100);
                        elemnt.css("width", currentProgressBar + "%");

                        if (currentProgressBar == 100) {
                            elemnt.parent().next().html('<i class="icon-check text-success"></i>');
                        }
                    }
                });

                $(".status-icon").each(function () {
                    var elemnt = $(this);
                    var name = elemnt.data("id");
                    if (name == fileName) {

                    }
                });

                if (totalProgressRatio == 100) {
                    filesToUpload = [];
                    totalProgress = 0;
                    totalSize = 0;
                    output = [];

                    window['@Model.TerminateFunction'](fileName);

                    //window['CargarSimbolo']('pepe');
                    //window[pr.funcion](criterioOrden + txtpagina);
                    //$('#btnSalir').click();

                }

            });
        }

        function UploadFile(TargetFile) {
            // create array to store the buffer chunks
            var FileChunk = [];
            // the file object itself that we will work with
            // var file = TargetFile[0];
            var file = TargetFile;
            // set up other initial vars
            //var MaxFileSizeMB = .5;
            var MaxFileSizeMB = .05;
            var BufferChunkSize = MaxFileSizeMB * (1024 * 1024);
            var ReadBuffer_Size = 1024;
            var FileStreamPos = 0;
            // set the initial chunk length
            var EndPos = BufferChunkSize;
            var Size = file.size;

            // add to the FileChunk array until we get to the end of the file
            while (FileStreamPos < Size) {
                // "slice" the file from the starting position/offset, to  the required length
                FileChunk.push(file.slice(FileStreamPos, EndPos));
                FileStreamPos = EndPos; // jump by the amount read
                EndPos = FileStreamPos + BufferChunkSize; // set next chunk length
            }
            // get total number of "files" we will be sending
            var TotalParts = FileChunk.length;
            var PartCount = 0;
            var Progress = 0;
            // loop through, pulling the first item from the array each time and sending it
            while (chunk = FileChunk.shift()) {
                PartCount++;

                // file name convention
                var FilePartName = file.name + ".part_" + PartCount + "." + TotalParts;
                // send the file
                UploadFileChunk(chunk, FilePartName, file.name);
            }
        }

        function humanFileSize(bytes, si) {
            var thresh = si ? 1000 : 1024;
            if (Math.abs(bytes) < thresh) {
                return bytes + ' B';
            }
            var units = si
                ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
                : ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
            var u = -1;
            do { 8
                bytes /= thresh;
                ++u;
            } while (Math.abs(bytes) >= thresh && u < units.length - 1);
            return bytes.toFixed(1) + ' ' + units[u];
        }

</script>
