@model BE_OP
<div class="card card-block">
    @{ 
        string Accion = "ExpedienteGraba";
        if (Model.ESTADOPAGINA == enumEstadoPagina.Edicion) { Accion = "ExpedienteEdita"; }
    }
    <form class="form" id="frmExpediente" method='post' action='@Url.Action(Accion, "Inscripcion", new { area = "OrgPolitica" })' >
        <div class="form-body">
            <h4 class="form-section"><i class="icon-eye6"></i> Datos de la Organización Política</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Tipo_Libro">Libro</label>
                        @Html.selectTipoLibro(x => x.Tipo_Libro, new { @class = "form-control", disabled = "disabled" }, null, true)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Nro_Tomo">Tomo</label>
                        @Html.number(x => x.Nro_Tomo, new { @class = "form-control", @readonly = true }, null, false, false)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Nro_Partida">N° Partida: </label>
                        @Html.number(x => x.Nro_Partida, new { @class = "form-control", @readonly = true }, null, false, false)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="Des_OP">Denominación</label>
                        @Html.textarea(x => x.Des_OP, new { @class = "form-control" }, null, false, true)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Des_Siglas">Sigla</label>
                        @Html.text(x => x.Des_Siglas, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Cod_Tipo_OP">Tipo</label>
                            @Html.selectTipoOrganizacionPolitica(x => x.Cod_Tipo_OP, new { @class = "form-control", disabled = "disabled" }, null, true)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Fec_Adq_Kit">Fecha adquición kit</label>
                            @Html.date(x => x.Fec_Adq_Kit, new { @class = "form-control", @readonly = true }, null, true)
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Fec_Ven_Kit">Fecha vencimiento kit</label>
                            @Html.date(x => x.Fec_Ven_Kit, new { @class = "form-control", @readonly = true }, null, true)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            &nbsp;
                            <label class="display-inline-block custom-control custom-checkbox">
                                @Html.checkbox(x => x.FLCANDADO, new { @class = "custom-control-input" })
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">No modificar expediente</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            &nbsp;
                            <label class="display-inline-block custom-control custom-checkbox">
                                @Html.checkbox(x => x.FLMIEMBRODEALIANZA, new { @class = "custom-control-input", disabled = "disabled" })
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Es miembro de alianza</span>
                            </label>
                        </div>
                    </div>
                </div>
                @{
                    BL_TipoOP b = new BL_TipoOP();
                    BE_TipoOP i = new BE_TipoOP();
                    int FLSIMBOLO = 0;
                    try
                    {
                        i.Cod_Tipo_OP = Model.Cod_Tipo_OP;
                        i = b.Get(i);
                        if (i != null) { FLSIMBOLO = (int) i.FLSIMBOLO; }
                    }
                    catch (Exception ex) { throw ex; }
                    finally { b.Dispose(); b = null; }

                }
                @if (FLSIMBOLO == 1 && Model.ESTADOPAGINA== enumEstadoPagina.Edicion)
                {
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Cod_Tipo_Op">Simbolo</label>
                            <figure class="card border-grey border-lighten-2" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <a href='@Url.Action("GetSimbolo", "Inscripcion", new { area = "OrgPolitica", Cod_OP = Model.Cod_OP })' itemprop="contentUrl" data-size="600x798">
                                    <img style='width:300px;height:300px;' id="imgSimbolo" class="gallery-thumbnail card-img-top" src='@Url.Action("GetSimbolo", "Inscripcion", new { area = "OrgPolitica", Cod_OP = Model.Cod_OP })' itemprop="thumbnail" alt='Simbolo' />
                                </a>
                            </figure>
                            @{
                                FileUpLoad File = new FileUpLoad()
                                {

                                    multiple = 0,
                                    TIPOARCHIVODOCUMENTO = TIPOTABLA.TIPOARCHIVODOCUMENTO.Tmp,
                                    TerminateFunction = "CargarSimbolo"
                                };
                                Html.RenderAction("ClientUpload", "Manage", File);
                            }
                            <button type="button" id="btnAdjuntaSimbolo" class="btn btn-info">
                                <i class="icon-attachment"></i> Adjuntar simbolo
                            </button>
                        </div>
                    </div>
                }
            </div>
            <h4 class="form-section"><i class="icon-mail6"></i> Ambito de la Organización</h4>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Cod_Ambito">Ambito</label>
                        @if (Model.Cod_Tipo_OP != "05")
                        {

                            @Html.selectAmbito(x => x.Cod_Ambito, new { @class = "form-control", disabled = "disabled" }, null, true)

                        }
                        else
                        {
                            @Html.selectAmbito(x => x.Cod_Ambito, new { @class = "form-control" }, null, true)
                        }
                    </div>
                </div>
                <div class="col-md-3" id="divRegion">
                    <div class="form-group">
                        <label for="UBIREGION">Departamento</label>
                        @Html.selectDepartamento(x => x.UBIREGION, new { @class = "form-control" }, null, true)
                    </div>
                </div>
                <div class="col-md-3" id="divProvincia">
                    <div class="form-group">
                        <label for="UBIPROVINCIA">Provincia</label>
                        @Html.selectProvincia(x => x.UBIPROVINCIA, new { @class = "form-control" }, new { UBIREGION = Model.UBIREGION }, true)
                    </div>
                </div>
                <div class="col-md-4" id="divDistrito">
                    <div class="form-group">
                        <label for="UBIDISTRITO">Distrito</label>
                        @Html.selectDistrito(x => x.UBIDISTRITO, new { @class = "form-control" }, new { UBIREGION = Model.UBIREGION, UBIPROVINCIA = Model.UBIPROVINCIA }, true)
                    </div>
                </div>
            </div>
            <h4 class="form-section"><i class="icon-mail6"></i> Domicilio legal</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="UBIREGIONDOMLEGAL">Departamento</label>
                        @Html.selectDepartamento(x => x.UBIREGIONDOMLEGAL, new { @class = "form-control" }, null, true)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="UBIPROVINCIADOMLEGAL">Provincia</label>
                        @Html.selectProvincia(x => x.UBIPROVINCIADOMLEGAL, new { @class = "form-control" }, new { UBIREGION = Model.UBIREGIONDOMLEGAL }, true)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="UBIDISTRITODOMLEGAL">Distrito</label>
                        @Html.selectDistrito(x => x.UBIDISTRITODOMLEGAL, new { @class = "form-control" }, new { UBIREGION = Model.UBIREGIONDOMLEGAL, UBIPROVINCIA = Model.UBIPROVINCIADOMLEGAL }, true)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="IDDOMZONA">Tipo de zona</label>
                        @Html.selectTipoZona(x => x.DOMIDZONA, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="TXDOMZONA">Nombre de la zona</label>
                        @Html.text(x => x.DOMTXZONA, new { @class = "form-control" })
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="IDDOMVIA">Tipo de Vía</label>
                        @Html.selectTipoVia(x => x.DOMIDVIA, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="TXDOMVIA">Nombre de la Vía</label>
                        @Html.text(x => x.DOMTXVIA, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="TXDOMNUMERO">Número</label>
                            @Html.text(x => x.DOMTXNUMERO, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="TXDOMKILOMETRO">Kilometro</label>
                            @Html.text(x => x.DOMTXKILOMETRO, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="TXDOMMANZANA">Manzana</label>
                            @Html.text(x => x.DOMTXMANZANA, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="TXDOMLOTE">Lote</label>
                            @Html.text(x => x.DOMTXLOTE, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="TXDOMDEPARTAMENTO">Dpto.</label>
                            @Html.text(x => x.DOMTXDEPARTAMENTO, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="TXDOMINTERIOR">Interior</label>
                            @Html.text(x => x.DOMTXINTERIOR, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="TXDOMREFERENCIA">Otras referencias</label>
                        @Html.textarea(x => x.DOMTXREFERENCIA, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <h4 class="form-section"><i class="icon-android-contact"></i> Contacto</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Des_Telef_Op_01">Télefono fijo</label>
                        @Html.tel(x => x.Des_Telef_Op_01, new { @class = "form-control" },null,false, true)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Des_Telef_Op_02">Télefono celular</label>
                        @Html.tel(x => x.Des_Telef_Op_02, new { @class = "form-control" }, null, false, true)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Des_Correo_Op">E-mail</label>
                        @Html.email(x => x.Des_Correo_Op, new { @class = "form-control" }, null, false, true)
                    </div>
                </div>
            </div>
            <h4 class="form-section"><i class="icon-document-text"></i> Otros</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Observaciones">Observación</label>
                        @Html.textarea(x => x.Observaciones, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        @Html.hidden(x=> x.ESTADOPAGINA)
        <div class="form-actions right">
            <button type="submit" id="btnGraba" class="btn btn-primary">
                <i class="icon-save"></i> Grabar
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="icon-institution"></i> Alianza
            </button>
            <button type="button" class="btn btn-warning mr-1">
                <i class="icon-sign-out"></i> Cancelar
            </button>
        </div>
    </form>
</div>


<script type="text/javascript">
  $(function () {

        $("#UBIREGION").bind("change",function () {
            $("#UBIPROVINCIA").empty(); $("#UBIDISTRITO").empty();
            $("#UBIPROVINCIA").append("<option disabled='disabled' value='' >@CO_Constante.menSeleccionHtmlSelect</option>");
            $("#UBIDISTRITO").append("<option disabled='disabled' value='' >@CO_Constante.menSeleccionHtmlSelect</option>");
            $("#UBIPROVINCIA").SelectNulo(); $("#UBIDISTRITO").SelectNulo();
            var UBIREGION = $("#UBIREGION").val();
            $.ajax({
                url: '@Url.Action("GetsProvincia", "api/UbigeoApi", new { area=  DBNull.Value })',
                type: "GET",
                data: { "UBIREGION": UBIREGION },
                contentType: "application/json;chartset=utf-8",
                success: function (result) {
                    $.each(result.data, function (i, item) {
                        $("#UBIPROVINCIA").append("<option value=" + item.UBIPROVINCIA + ">" + item.TXPROVINCIA + "</option>");
                    });
                },
            });

        });

        $("#UBIREGIONDOMLEGAL").bind("change",function () {
            $("#UBIPROVINCIADOMLEGAL").empty(); $("#UBIDISTRITODOMLEGAL").empty();
            $("#UBIPROVINCIADOMLEGAL").append("<option disabled='disabled' value='' >@CO_Constante.menSeleccionHtmlSelect</option>");
            $("#UBIDISTRITODOMLEGAL").append("<option disabled='disabled' value='' >@CO_Constante.menSeleccionHtmlSelect</option>");
            $("#UBIPROVINCIADOMLEGAL").SelectNulo(); $("#UBIDISTRITODOMLEGAL").SelectNulo();
            var UBIREGION = $("#UBIREGIONDOMLEGAL").val();
            $.ajax({
                url: '@Url.Action("GetsProvincia", "api/UbigeoApi", new { area=  DBNull.Value })',
                type: "GET",
                data: { "UBIREGION": UBIREGION },
                contentType: "application/json;chartset=utf-8",
                success: function (result) {
                    $.each(result.data, function (i, item) {
                        $("#UBIPROVINCIADOMLEGAL").append("<option value=" + item.UBIPROVINCIA + ">" + item.TXPROVINCIA + "</option>");
                    });
                },
            });
        });

        $("#UBIPROVINCIA").change(function () {
            $("#UBIDISTRITO").empty();
            $("#UBIDISTRITO").append("<option disabled='disabled' value='' >@CO_Constante.menSeleccionHtmlSelect</option>");
            $("#UBIDISTRITO").SelectNulo();
            var UBIREGION = $("#UBIREGION").val();
            var UBIPROVINCIA = $("#UBIPROVINCIA").val();
            $.ajax({
                url: '@Url.Action("GetsDistrito", "api/UbigeoApi", new { area=  DBNull.Value })',
                type: "GET",
                data: { "UBIREGION": UBIREGION, "UBIPROVINCIA": UBIPROVINCIA },
                contentType: "application/json;chartset=utf-8",
                cache: false,
                success: function (result) {
                    $.each(result.data, function (i, item) {
                        $("#UBIDISTRITO").append("<option value=" + item.UBIDISTRITO + ">" + item.TXDISTRITO + "</option>");
                    });
                },
            });
        });

        $("#UBIPROVINCIADOMLEGAL").change(function () {
            $("#UBIDISTRITODOMLEGAL").empty();
            $("#UBIDISTRITODOMLEGAL").append("<option disabled='disabled' value='' >@CO_Constante.menSeleccionHtmlSelect</option>");
            $("#UBIDISTRITODOMLEGAL").SelectNulo();
            var UBIREGION = $("#UBIREGIONDOMLEGAL").val();
            var UBIPROVINCIA = $("#UBIPROVINCIADOMLEGAL").val();
            $.ajax({
                url: '@Url.Action("GetsDistrito", "api/UbigeoApi", new { area=  DBNull.Value })',
                type: "GET",
                data: { "UBIREGION": UBIREGION, "UBIPROVINCIA": UBIPROVINCIA },
                contentType: "application/json;chartset=utf-8",
                cache: false,
                success: function (result) {
                    $.each(result.data, function (i, item) {
                        $("#UBIDISTRITODOMLEGAL").append("<option value=" + item.UBIDISTRITO + ">" + item.TXDISTRITO + "</option>");
                    });
                },
            });
        });

        $("#Cod_Ambito").change(function () {
            if ($(this).val() == '01' || $("#Cod_Ambito").val() == null) { //Nacional
                $("#divRegion").hide();
                $("#divProvincia").hide();
                $("#divDistrito").hide();
            } else if ($(this).val() == '02') {//Regional
                $("#divRegion").show();
                $("#divProvincia").hide();
                $("#divDistrito").hide();
            } else if ($(this).val() == '03') {//Local Provincial
                $("#divRegion").show();
                $("#divProvincia").show();
                $("#divDistrito").hide();
            } else if ($(this).val() == '04') {//Local Distrital
                $("#divRegion").show();
                $("#divProvincia").show();
                $("#divDistrito").show();
            };
        });

        $("#Cod_Ambito").change();
        $("#frmExpediente").validate({
            errorClass: "text-danger",
            validClass: "text-success",
            errorElement: "p",
            ignoreTitle: true,
            highlight: function (element) { $(element).addClass('border-danger'); },
            unhighlight: function (element) { $(element).removeClass('border-danger'); },
            submitHandler: function (form, event) {
                $(form).prmDisabled();
                $(form).addHidden('Cod_OP', $('#Cod_OP').val());
                $('#btnGraba').Espera();
                return true;
            }
        });
        $('#btnAdjuntaSimbolo').click(pAdjuntaArchivo);
    });

    pAdjuntaArchivo = function () {
        var datos = {
            multiple: 0,
            TipoArchivo: @TIPOTABLA.TIPOARCHIVODOCUMENTO.Simbolo,
            ESTADOPAGINA: '@enumEstadoPagina.Edicion',
            Cod_OP: @Model.Cod_OP,
            ProcesoTerminado : 'CargarSimbolo'
           };
        var uri = '@Url.Action("ClientUpload", "Manage", new { area =  DBNull.Value } )';
        $.ajax({
            url: uri,
            type: 'Get',
            cache: false,
            data: datos,
            success: function (data) {
                $("#WinComunContenido").empty().append(data);
                $("#WinComunTitulo").text('Adjuntar simbolo');
                $("#WinFooter").hide();
                $('#WinComun').modal({ backdrop: 'static' })
            }
        });
    }

    function CargarSimbolo() {
        var d = new Date(); $('#imgSimbolo').attr('src', '@Url.Action("GetSimbolo", "Inscripcion", new { area = "OrgPolitica", Cod_OP = Model.Cod_OP })' + '&d=' + d.getTime() );
    }

</script>
    