@model BE_Resolucion
<div class="card card-block">
    <div class="form-actions text-lg-right mb-1">
        <button data-toggle="modal" data-target="#WinComun" type="button" id="btnNuevaResolucion" class="btn btn-success btn-sm" data-codigo='{"Cod_Correlativo":0, "Cod_OP": @Model.Cod_OP, "ESTADOPAGINA": "@enumEstadoPagina.Nuevo" }'>
            <i class="icon-plus3"></i> Nueva Resolución
        </button>
    </div>
    <div id="divResolucion" class="card-block"></div>
</div>
<script type="text/javascript">

    function pCargaResolucion(param) {
        $("#divResolucion").empty();
        var criterio = param + '&' + $.param({ 'Cod_OP': @Model.Cod_OP });
        $.ajax({
            url: '@Url.Action("ResolucionLista", "Resolucion", new { area= "OrgPolitica" })',
            type: 'GET',
            cache: false,
            async: true,
            data: criterio,
            success: function (data) {
                $("#divResolucion").html(data);
            },
            complete: function () {
                $('#tblResolucion').tablaFuncional({ funcion: 'pCargaResolucion', data: param });
                $('[data-toggle="eliminaresolucion"]').confirmar({ funcion: 'ConfirmaEliminaResolucion' });
                $(".editResolucion").click(pMantenimientoResolucion);
            }
        });
    }

    $(function () {
        $("#btnNuevaResolucion").click(pMantenimientoResolucion);
        pCargaResolucion();
    });

    pMantenimientoResolucion = function () {
        $("#WinComunContenido").empty();
            var codigo = $(this).data("codigo");
            $.ajax({
                url: '@Url.Action("Mantenimiento","Resolucion", new { area = "OrgPolitica" } )',
                type: 'Get',
                cache: false,
                data: codigo,
                success: function (data) {
                    $("#WinComunContenido").append(data);
                    $("#WinComunTitulo").text('Manteniento de Resolución');
                    $('#WinComun').modal({ backdrop: 'static' })
                },
            });
        }

        function ConfirmaEliminaResolucion(data) {
            $.ajax({
                url: '@Url.Action("Elimina", "api/ResolucionApi", new { area= "OrgPolitica" })',
                dataType: "json",
                type: 'POST',
                cache: false,
                data: data,
                success: function (data) {
                    MostrarMensaje(data.Message);
                },
                complete: function () {
                    pCargaResolucion();
                    $('[data-toggle="eliminaresolucion"]').confirmar({ funcion: 'ConfirmaEliminaResolucion' });
                    $(".editResolucion").click(pMantenimientoResolucion);
                }
            });
        }




    //$(function () {

    //});

</script>
