@model IEnumerable<BE_Etapa>
@{ 
    int rowIndex = 0;
}    
@if (Model.Count() > 0)
{
    <table id="tblEtapas" class="table table-bordered mb-0">
        <thead class="thead-default">
            <tr>
                <th></th>
                <th>N°</th>
                <th>Estapa de inscripción</th>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Ente</th>
                <th>Insertar</th>
                @*@Glo.ColumnaTablaOrdena("Organización Política", "DESOP", "ASC", 3)*@
            </tr>
        </thead>
        <tbody>
            @foreach (BE_Etapa item in Model)
            {
                rowIndex = rowIndex + 1;
                <tr>
                    <td>
                        <button type="button" data-codigo='{"Cod_Correlativo": @item.Cod_Correlativo, "Cod_OP": @item.Cod_OP}' title='¿Eliminar?'  class="btn btn-icon btn-pure danger" data-toggle="eliminaetapa" data-placement="top">
                            <i class="icon-android-delete"></i>
                        </button>
                    </td>
                    <td>@item.Cod_Correlativo</td>
                    <td><a class="editEtapa" data-toggle="modal" data-target="#WinComun" href="#" data-codigo='{"Cod_Correlativo": @item.Cod_Correlativo, "Cod_OP": @item.Cod_OP, "ESTADOPAGINA": "@enumEstadoPagina.Edicion"}' >@item.Des_Estado_Inscrip</a></td>
                    <td>@item.Fec_Estado_Insc.Text("dd/MM/yyyy")</td>
                    <td><span style="white-space: pre-line">@item.Des_Observ_Corta</span></td>
                    <td>@item.Des_Ente</td>
                    @{if (rowIndex > 1) {
                                <td><button type="button" data-toggle="modal" data-target="#WinComun" class="btn btn-icon btn-pure insertEtapa" data-codigo='{"Cod_Correlativo": @item.Cod_Correlativo, "Cod_OP": @item.Cod_OP , "ESTADOPAGINA" : "@enumEstadoPagina.Insertar" }' title='@string.Concat("Insertar Etapa entre ", item.Cod_Correlativo - 1, " y ", item.Cod_Correlativo)' ><i class="icon-plus-square-o"></i></button></td>
                         }
                    }
                </tr>
            }
        </tbody>
    </table>
}
@Glo.Paginador()